
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.gemini
.cursor
.claude
.agent
ca
logs

docs
node_modules
dist
dist-ssr
.vite
*.local
src-tauri/sentinel-plugins/templates/
ca

AppData/
.trea
/.artifacts/
src-tauri/agent-browser-bundle/
src-tauri/bin/
# Editor directories and files
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
src-tauri/license_keys.json
